body {
    background-color: rgba(85, 109, 230, 0.62);
    font-family: 'Coiny';
}

h2 {
    color: #fff;
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#navbar {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 10px;
    background-color: whitesmoke;
    color: rebeccapurple;
    border: solid 3px rebeccapurple;
    border-radius: 15px;

}

#entire_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    align-content: center;
    border: 3px solid rebeccapurple;
    border-radius: 15px;
    background-color: #e3e4ea;

}

#centering {
    margin-right: auto;
    margin-left:auto ;
    padding:15px;
}

.form_cols {
    float:left
}

#entire_form button{
    background-color: rgba(0, 176, 0, 0.43);
    color:rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 15px;
    margin-left: 50px;
}

.board {
    margin-left: 50px;
    margin-top: 20px;
}

.game-cell {
    border: 2px solid rebeccapurple;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 2px;
    vertical-align: middle;
}

.grass {
    background-image: url("../image/board.png");
}

.diamond {
    background-image: url("../image/diamond.png");
}

.true1 {
    background-image: url("../image/true1.png");
}

.bomb {
    background-image: url("../image/bomb.png");
}

.false {
    background-image: url("../image/false.png");
}

.scoreboard {
    margin-left: 50px;
    width: 300px;
    border: 3px solid green;
    border-radius: 15px;
    text-align: center;
    padding: 3px;
    background-color: rebeccapurple;
    color: whitesmoke;
    margin-top: 20px;
}

#shovel {
    width: 40px;
    height: 48px;
}

.dragzone {
    width: 40px;
    height: 48px;
}

.dropzone {
    width: 70px;
    height: 70px;
    padding-top: 11px;
}
.row {
    margin-left: auto;
    margin-right: auto;
}

#player {
   margin-left: 120px;
    margin-top: 35px;
    border:solid 2px green;
    background-color:#e3e4ea;
    border-radius: 15px ;
    padding: 10px;

}

.user-data{
    margin-top: 15px;
    padding: 15px;
    border-bottom: dotted 1px whitesmoke;
    color: #e3e4ea;
}

.gameplay {
    margin-top: 12px;
    padding: 12px;
}


.scoreboard button {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 15px;
    background-color: mediumpurple;
    vertical-align: bottom;
    margin-top: 12px;
    padding: 12px;

}


th {
    padding: 3px;
    width: 120px;
    color: rebeccapurple;
}

td {
    padding: 3px;
    align-content: center;
}

#diamondDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diamondImage {
    width: 300px;
    height: 300px;
    transition: all 2s ease-in-out;
    perspective: 800px;
    perspective-origin: 50% 100px;
}

.diamondImage:hover {
    transform: rotateY(180deg);
}