{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="player">
                {%  if user['avatar'] == 'cat' %}
                <div id="animal"><img src="{{ url_for('static', filename='image/cat.png') }}"></div>
                {% elif user['avatar']=='dog' %}
                <div id="animal"><img src="{{ url_for('static', filename='image/dog.png') }}"></div>
                {% endif %}
                <div class="dragzone" id="place-shovel"><img id="shovel" draggable="true" ondragstart="dragStart(event)" src="static/image/shovel.png"></div>
            </div>
            <div class="board" id="game">
                {% for row in range(5) %}
                    <div>
                        {% for col in range(5) %}
                            <div wer="wer" class="game-cell grass dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"
                                 data-coordinate-x="{{ col }}"
                                 data-coordinate-y="{{ row }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="scoreboard">
                <div >{{ user['username'] }}</div>
                <div id="points">points</div>
                <div id="diamonds">diamonds</div>
                <div id="message">The game continues</div>
                <button id="reset" type="submit">Reset board</button>
            </div>
        </div>
    </div>
{% endblock %}

