{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="player">
                <div id="animal"><img src="{{ url_for('static', filename='image/cat.png') }}"></div>
                <div class="dragzone" id="place-shovel"><img id="shovel" draggable="true" ondragstart="dragStart(event)" src="static/image/shovel.png"></div>
            </div>
            <div class="board" id="game">
                {% for row in range(5) %}
                    <div>
                        {% for col in range(5) %}
                            <div class="game-cell grass dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"
                                 data-coordinate-x="{{ col }}"
                                 data-coordinate-y="{{ row }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="scoreboard">
                <div>{{ user['username'] }}</div>
                <div>points</div>
                <div>diamonds</div>
                <div>message</div>
                <button class="btn-outline-dark" type="submit">Reset board</button>
            </div>
        </div>
    </div>
{% endblock %}

