{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="player">
                <div><img src="{{ url_for('static', filename='image/cat.png') }}"></div>
                <div id="shovel" class="dragzone" ondragstart=""><img src="{{ url_for('static', filename='image/shovel.png') }}"></div>
            </div>
            <div class="board" id="game" onload="main()">
                {% for row in range(5) %}
                    <div>
                        {% for col in range(5) %}
                            <div class="game-cell grass dropzone" ondragover="allowDrop(event)"
                                 data-coordinate-x="{{ col }}"
                                 data-coordinate-y="{{ row }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="scoreboard">
                <div>{{ user['username'] }}</div>
                <div>points</div>
                <div>diamonds</div>
                <div>message</div>
                <button class="btn-outline-dark" type="submit">Reset board</button>
            </div>
        </div>
    </div>
{% endblock %}

