<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
<div class="container">
<nav class="navbar justify-content-center">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='image/diamond.png') }}" width="70" height="70"
             class="d-inline-block"
             alt="">
    </a>
    <h3>Diamond hunt</h3>
</nav>
</div>
{% block content %} {% endblock %}
<script src="{{ url_for('static', filename='script/gamescript.js') }}"></script>
</body>
</html>