{% extends 'layout.html' %}
{% block content %}
    <div id="entire_form">
        <form action="/login" method="POST">
                <input type="text" name="username" id="username" placeholder="What's your name ?" width="50%">
            <br>
            <br>

                <label for="avatar" style="color:rebeccapurple; margin-left: 20px">Choose your avatar</label><br><br>
                <div class="form_cols">
                <input type="radio" name="avatar" id="avatar" value="cat" checked> <img src="{{ url_for('static', filename='image/cat.png') }}" alt="CAT">
            </div>
            <div class="form_cols">
            <input type="radio" name="avatar" id="avatar" value="dog" checked style="margin-left: 30px"> <img src="{{ url_for('static', filename='image/dog.png') }}" alt="DOG">
            </div>
                <br><br><br><br>
            <div style="clear:both">
                <button type="submit">Let's go!</button>
            </div>
        </form>
        </div>
    </div>

{% endblock %}